# Dependency directories
node_modules/
auth.json

# Build outputs
dist/
build/
out/

# Ignore output of custom scripts
queries/Users\ Audit

scripts-plugin/custom_search_results.csv

# Local development files
.csv
.DS_Store